.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
    color: #ffc404;
}

.app-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.app-info img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid #ffc404;
}

@media screen and (max-width:800px) {
    .header-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 2rem;
    gap: 1rem;
    width: 100%;
    }
    
}